*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	font-family: Alkatra ;
}
a{
	text-decoration: none;
	color: #fff;

}
.one{
	width: 100%;
	background-image: url(image/01\ 1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	max-width: 1110px;
	margin: 0 auto;
}
.container-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
.Logo{
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-right: 22px;
}

.link-logo{
	padding-left: 22px;
	font-weight: 400;
    font-size: 15px;
    line-height: 19px;
	color: #fff;
}
.number-link{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 11px 27px 11px 33px ;
}
.phone-link{
	display: none;
}
.right-link{
	display: flex;
	flex-wrap: wrap;
	
}
.link-social-network{
	padding-left: 22px;
}
.header-title{
	padding-top: 230px;
}
.big-title{
	font-size: 55px;
    line-height: 120%;
	color: #181818;
	
}
.paragraph-header{
	padding-top: 30px;
	font-size: 34px;
    line-height: 110%;
	color: #181818;
}
.header-button{
	padding-top: 65px;
	padding-bottom: 309px;
	

}
.buttons{
	border-radius: 40px;
	padding:  23px 47px;
	border: none;
	margin-right: 10px;
	background-color: #fff;
	font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}
.buttons:last-child{
	margin-right: 0;
	margin-left: 10px;
}
@media(max-width:720px){
	.right-link{
		display: none;
	}
	.one{
		background-image: url(image/Rectangle\ 5.png);
		height: 100vh;
		object-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		
	}
	.container{
		
		padding: 0px 25px;
	}
	.header-title{
		padding-top: 60px;
	}
	.big-title{
		font-weight: 400;
        font-size: 30px;
        line-height: 110%;
		color: #fff;
	}
	.phone-link{
		display: block;
	}
	.paragraph-header{
		font-weight: 400;
        font-size: 20px;
        line-height: 110%;
		color: #fff;
	}
	.buttons{
		
		font-weight: 400;
        font-size: 15px;
        line-height: 140%;
		margin-top: 20px;
	}
	.buttons:first-child{
		margin-top: 0px;
	}
	.header-button{
		/* display: flex;
		flex-wrap: wrap; */
		
	}
	.buttons:last-child{
		margin-right: 0;
		margin-left: 10px;
	}
}
.section-two{
	width: 100%;
	background-color: #fff;
}
.block-menu-title{
	display: flex;
	padding: 70px 0px 15px 0px ;
}
.block-menu-title:last-child{
	display: flex;
	flex-direction: row-reverse;
}
.big-titles{
	font-weight: 400;
	font-size: 45px;
	line-height: 100%;
}

.menu-titles{
display: flex;
font-weight: 400;
font-size: 38px;
line-height: 110%;
}

.tex-foto{
	display: flex;
	flex-wrap: nowrap;
	
}
.paragraph-main{
	padding-top: 28px;
	
	font-weight: 400;
     font-size: 18px;
    line-height: 140%;
}


.paragraph-main:hover{
	background-color:#2B59C3;
	opacity: 0.9;
	border-radius: 5px;
}
.paragraph-main:first-child{
padding-top: 0px;
}
.br{
	padding-top: 10px;
}
@media(max-width:720px){
	.tex-foto{
		flex-wrap: wrap;
	}
	.block-menu-title {
		padding: 56px 0px 15px 0px;
	}
	.paragraph-main{
		padding-left: 0px;
	}
	.paragraph-main:first-child{
		padding-top: 30px;
		}
		.kartinka{
			width: 100%;
		}
		.numbers{
			flex-wrap: wrap;
		}
		.number {
			padding-right: 68px;
		}
		.rak{
			padding-right: 0px;
			padding-bottom: 37px ;
		}
		.rak:last-child{
			padding-bottom: 0px;
		}
		.name-and-logo{
			padding-top: 90px;
		}
		.big-titles{
			font-weight: 400;
			font-size: 30px;
			line-height: 110%;
			color: #181818;
		}
		.numbers{
			padding-top: 52px;
		}
}
.name-and-logo{
	padding-top: 120px;
}
.numbers{
	padding-top: 40px;
	display: flex;
	
	
}
.menu-title{
	font-weight: 400;
	font-size: 38px;
	line-height: 110%;
	}
.number{
	
	font-weight: 400;
    font-size: 45px;
    line-height: 100%;
}
.rak{
	display: flex;
	padding-right: 128px;
}
.rak:last-child{
	padding-right: 0px;
	
}
.lower-text{
    padding-top: 22px;
	font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.end-text{
	margin-top: 16px;
	font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.tex-foto:last-child{
	flex-direction: row-reverse;
}
.many-paragraphs{
	padding-left: 30px;
}
.many-paragraphs:last-child{
	padding-left: 0px;
	padding-right: 30px;
}
.kartinka{
	padding-left: 0px;
	padding-right: 30px;
}
